{% extends "basic.html" %}
{% block content %}
<h2>Мои услуги/товары</h2>
{% if product_list %}
<ul>
  {% for product in product_list %}
      <div class="card" style="width: 18rem;">
        <img src="/media/{{ product.photo }}" class="card-img-top" alt="Изображение">
        <div class="card-body">
          <p>Название: {{ product.product_name }}</p>
          <p>Описание: {{ product.description_pr }} </p>
        </div>
      </div>
  {% endfor %}
</ul>
{% else %}
  <p>У вас нет услуг/товаров</p>
{% endif %}
{% endblock %}