{% extends "layout/basic.html" %}

{% block title %}<title>Отдельный товар/услуга</title>{% endblock %}
<form class="form form-search" method="get" action="{% url 'app:search' %}">
    <input type="search" placeholder="Поиск" name="query">
    <button class="table-input" type="submit">Поиск</button>
</form>
{% block content %}
    <div>
        <img class="img" src="/media/{{product.pr_img}}">
          <a>Название: {{ product.pr_name }}</a>
          <p>Описание: {{ product.description_pr }} </p>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Заказать товар/услугу">
    </form>
{% endblock %}