{% extends "layout/basic.html" %}

{% block content %}
<form class="form form-search" method="get" action="{% url 'app:search'%}">
    <input type="search" placeholder="Поиск" name="query">
    <button type="submit">Поиск</button>
</form>
{% if results %}
<div class="cards">
    {% for product in results %}
    <div class="card" style="width: 18rem;">
        <img class="img" src="/media/{{product.pr_img}}">
        <div class="card-body">
          <a href="{% url 'app:product_detail' product.id %}">Название: {{ product.pr_name }}</a>
          <p>Описание: {{ product.description_pr }} </p>
        </div>
      </div>
{% endfor %}
</div>
{% else %}
    <h2>Нет таких товаров</h2>
{% endif %}
{% endblock %}